<h1>New Entry for <%= @place["name"] %></h1>

<form action="/entries" method="post">

  <!-- Entry Title -->
  <p>
    <label>Title:</label><br>
    <input type="text" name="title">
  </p>

  <!-- Entry Date -->
  <p>
    <label>Date:</label><br>
    <input type="date" name="date">
  </p>

  <!-- Entry Description -->
  <p>
    <label>Description:</label><br>
    <textarea name="description"></textarea>
  </p>

  <!-- Hidden Place ID -->
  <input type="hidden" name="place_id" value="<%= @place["id"] %>">

  <!-- Submit Button -->
  <button>Submit</button>
</form>